body {
	background-color: #2e2b2a;
}

#main {
	color: #e9d49c;
	text-align: center;
	font-family: "Arial";
	font-size: 24;
}

button {
	border-color: #816459;
	color: #816459;
	background-color: #2e2b2a;
	border-radius: 15px;
	font-family: "Helvetica";
	font-size: 24;
	padding: 5px;

	margin-left: 5px;
	margin-right: 5px;

}
